body{
    font-family: "Roboto", sans-serif;
}

/*The header sections*/
.header{
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/*The Hero sections*/
.hero{
    background-color: #1F2937;
}

.hero>.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.herotext{
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder{
    color:#F9FAF8;
    background-color: #E5E7EB;
}

/*The info sections*/
.info{
    text-align: center;
}
.info>.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 40px;
}

.subbox{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
}

.subtext{
    max-width: 180px;
}

img{
    width: 175px;
    height: 175px;
    border: blue;
    border-style: solid;
    border-radius: 10px;
}
/*The Quotes section*/
.quotes{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.quotebox{
    max-width: 800px;
    max-height: 400px;
    margin: 100px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.person{
    font-weight: 900;
    font-size: 20px;
    text-align: right;
}

/*The sign-up section*/
.signup{
    background-color: white;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #3882F6;
    width: 1000px;
    height: 125px;
    margin: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.box>.title{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.left, .right {
  display: flex;
  align-items: center;
  padding: 0 90px;
}

.right>button {
    border-color: #F9FAF8;
    border: solid;
}

/*The footer*/
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

/*Button, as both buttons are largely the same*/
button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}