body{
    font-family: "Roboto", sans-serif;
}

/*The header sections*/
.header{
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul{
    list-style-type: none;
}
/*The Hero sections*/
.hero{
    background-color: #1F2937;
}

.hero>.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.herotext{
    font-size: 18px;
    color: #E5E7EB;
}

/*The info sections*/
.info>.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

img{
    width: 175px;
    height: 175px;
}
/*The Quotes section*/
.quotes{
    background-color: #E5E7EB;
}

.quotes>.text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.person{
    font-weight: 900;
}

/*The sign-up section*/
.signup{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

.signup>.title{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/*The footer*/
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

/*Button, as both buttons are largely the same*/
button{
    background-color: #3882F6;
    color: #F9FAF8;
}